[user]
    email = mail@trmckay.com
    name = Trevor McKay

[color]
    ui = true

[core]
    pager = delta

[commit]
    verbose = true

[pull]
    rebase = true

[fetch]
    recurseSubmodules = no

[rebase]
    autosquash = true
    autostash = true

[rerere]
    enabled = true

[diff]
    ignoreSubmodules = all
    algorithm = histogram

[init]
    defaultBranch = main

[push]
    default = current
    autoSetupRemote = true

[merge]
    tool = fugitive
    # conflictstyle = zdiff3

[mergetool "fugitive"]
    cmd = nvim -f -c \"Gvdiffsplit!\" \"$MERGED\"

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[alias]
    a = add
    alog = log --first-parent --pretty=format:'%C(red)%h%Creset -%C(yellow)%d%Creset %s %C(green)(%cr)' --author='Trevor McKay'
    b = branch
    bd = branch -D
    c = commit
    ca = commit --amend
    cob = checkout -b
    co = checkout
    cp = cherry-pick
    cpa = cherry-pick --abort
    cpc = cherry-pick --continue
    ctx = !git slog | head
    d = diff
    diff-main-branch = !git diff $(git main-branch)...HEAD
    diff-remote = !git diff $(git remote-branch)
    dm = diff-main-branch
    dr = diff-remote
    f = fetch
    llog = log --pretty=format:'%C(red)%h%Creset -%C(yellow)%d%Creset %s %C(green)(%cr) %C(yellow)<%an>%Creset'
    local-main-branch = !git branch | cut -c 3- | grep -E '^master$|^main$'
    ltr = log-to-remote
    m = merge
    ma = merge --abort
    main-branch = !git rev-parse --abbrev-ref --symbolic-full-name $(git local-main-branch)@{upstream}
    mb = main-branch
    mbm = merge-base-main-branch
    mc = merge --continue
    merge-base-main-branch = !git merge-base HEAD $(git main-branch)
    mm = !git fetch && git merge $(git main-branch)
    nb = checkout -b
    p = push
    pf = push --force-with-lease
    rb = rebase
    rba = rebase --abort
    rbc = rebase --continue
    rbi = rebase -i
    rbim = !git fetch && git rebase -i $(git main-branch)
    rbm = !git fetch && git rebase -i $(git main-branch)
    remote-branch = rev-parse --abbrev-ref --symbolic-full-name @{upstream}
    reset-last-head = reset HEAD@{1}
    rfl = reflog --date=iso
    rh = reset --hard
    rhu = !git reset --hard $(git remote-branch)
    root = rev-parse --show-toplevel
    rs = restore
    s = status
    sa = stash apply
    slog = log --first-parent --pretty=format:'%C(red)%h%Creset -%C(yellow)%d%Creset %s %C(green)(%cr) %C(yellow)<%an>%Creset'
    sp = stash pop
    ss = stash
    v = !nvim +Git +only
